:root {
    font-size: 100%;
}

button {
    height: 3rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
    font-size: larger;
}

button.success {
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

button.danger {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.container-button {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.next-choice {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.previous-choices {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.form-input>label,
.form-input>input {
    display: block;
}

input {
    height: 2rem;
    width: 20rem;
    font-size: larger;
}

.success-description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.danger-description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
